body {
    font-family: 'Lato', sans-serif;  
}

.wrapper {
    display: block;
    width: 1020px;
    margin: 0 auto;
}

.wrapper-portfolio {
    height: 870px;
}

.wrapper-about-us {
    height: 734px;
}

.portfolio-top {
    height: 870px;
    background-color: #2d303a;
}

.portfolio-bottom {
    position: relative;
    top: -6px;
    height: 6px;
    background-color: #323746;
}

.about-us-top {
    height: 728px;
    background-color: #f2f2f2;
}

.about-us-bottom {
    height: 6px;
    background-color: #ffffff;
}

.portfolio-title {
    font-size: 30px;
    line-height: 18px;
    padding: 72px 0px 0px 41px;
    letter-spacing: 0.1px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.portfolio-content {
    width: 940px;
    margin: 0;
    padding: 25px 0px 0px 40px;
    letter-spacing: -0.22px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}

.portfolio-tags {
    padding: 10px 0px 10px 40px;
}

.portfolio-tags-list {
    display: flex;
}

.tag {
    border-radius: 5px;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
}

.tag-all {
    margin-left: 1px;
    padding: 0px 6px 0px 7px;
}

.tag-web-design {
   margin-left: 10px;
    padding: 0px 6px 0px 6px;
}

.tag-graphic-design {
    margin-left: 10px;
    padding: 0px 5px 0px 6px;
}

.tag-artwork {
    margin-left: 10px;
    padding: 0px 6px 0px 5px;
}

.tag:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}

.layout-4-col {
    display: grid;
    margin: 9px 0px 0px 40px;
    grid-template: repeat(3, 207px)/ repeat(4, 240px);
    max-height: 621px;
    overflow-y: hidden;
}

.picture {
    width: 220px;
    height: 187px;
}

.picture-1 {
    background-image: url('assets/img/portfolio/1.png');
    background-position: -8px -11px;
}

.picture-2 {
    background-image: url('assets/img/portfolio/2.png');
    background-position: -82px -43px;
}

.picture-3 {
    background-image: url('assets/img/portfolio/3.png');
    background-position: -11px -1px;
}

.picture-4 {
    background-image: url('assets/img/portfolio/4.png');
    background-position: -24px -2px;
}

.picture-5 {
    background-image: url('assets/img/portfolio/5.png');
    background-position: -10px -16px;
}

.picture-6 {
    background-image: url('assets/img/portfolio/6.png');
    background-position: -16px -4px;
}

.picture-7 {
    background-image: url('assets/img/portfolio/7.png');
    background-position: -31px -39px;
}

.picture-8 {
    background-image: url('assets/img/portfolio/8.png');
    background-position: -24px -32px;
}

.picture-9 {
    background-image: url('assets/img/portfolio/9.png');
    background-position: -16px -2px;
}

.picture-10 {
    background-image: url('assets/img/portfolio/10.png');
    background-position: -141px -113px;
}

.picture-11 {
    background-image: url('assets/img/portfolio/11.png');
    background-position: -144px -175px;
}

.picture-12 {
    background-image: url('assets/img/portfolio/12.png');
    background-position: -36px -60px;
}

.about-us-title {
    font-size: 30px;
    padding: 72px 0px 0px 40px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.about-us-content {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    padding: 25px 0px 0px 40px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}

.layout-3-col-about-us {
    display: flex;
    margin: 46px 20px 0px 20px;
}

.photo {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.photo-Adam-Jensen {
    background-image: url('assets/img/photos/Adam-Jensen.png');
    margin-left: 20px;
}

.photo-Desmond-Miles {
    background-image: url('assets/img/photos/Desmond-Miles.png');
    margin-left: 19px;
}

.photo-Scolara-Visari {
    background-image: url('assets/img/photos/Scolara-Visari.png');
    margin-left: 21px;
}

.personal-data-Adam-Jensen {
    margin-left: 20px;
}

.personal-data-Desmond-Miles {
    margin-left: 19px;
}

.personal-data-Scolara-Visari
{
    margin-left: 20px;
}

.person-name {
    display: block;
    width: 300px;
    font-size: 18px;
    line-height: 18px;
    max-height: 18px;
    overflow: hidden;
    word-break: break-all;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    padding-top: 15px;    
}

.person-description {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    padding-top: 8px;
}

.social-media {
    padding-top: 21px;
    margin-left: -3px;
}

.icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-left: 3px;
}

.icon:hover{
    cursor: pointer;
}

.icon-facebook {
    background-image: url('assets/img/social-media-icons/icon-facebook.svg');
}

.icon-google {
    background-image: url('assets/img/social-media-icons/icon-google.svg');
}

.icon-twitter {
    background-image: url('assets/img/social-media-icons/icon-twitter.svg');
}

.icon-linkedIn {
    background-image: url('assets/img/social-media-icons/icon-linkedIn.svg');
}