body {
    font-family: 'Lato', sans-serif;   
}

.wrapper {
    display: block;
    width: 1020px;
    margin: 0 auto;
}

.header-top { 
    position: relative;
    z-index: 1;
    height: 89px;
    background-color: #2d303a;    
}

.header-bottom{
    height: 6px;
    background-color: #323746;
    position: relative;
    z-index: 2;
}

.slider-top {
    position: relative;
    top: -6px;    
    bottom: 0px;
    height: 600px;
    background-color: #f06c64; 
}

.slider-bottom {
    position: relative;
    top: -6px;
    bottom: 0px;
    height: 6px;
    background-color: #ea676b;
}

.services-top {
    position: relative;
    top: -6px;
    background-color: #f2f2f2;
    height: 495px;
}

.services-bottom {    
    position: relative;
    top: -7px;
    background-color: #ffffff;
    height: 6px;
}

.services-title {
    margin: 0px;
}

.logo {
    display: inline-block;
    font-size: 25px;
    line-height: 6px;
    font-weight: 700;
    text-align: left;
    margin-top: 41px;
    margin-left: 39px;
}

.logo-part1 {
    color: #ffffff;
}

.logo-part2 {
    color: #f06c64;
}

.navigation {
    display: inline-block;
    font-size: 12px;
    line-height: 6px;    
    font-weight: 700;
    text-align: center;
    list-style: none;
    margin-left: 401px;
}

.navigation-list li{
    display: inline;
    color: #ffffff;
}

.navigation-list li:hover{
    color: #f06c64;
}

.navigation-list li::after {
    content: "•"; 
    padding-right: 10px;
    padding-left: 10px;
    color: #323746;
}

.phone__shadow__vertical {
    position: absolute;
    top: 59px;
    left: 111px;  
}

.phone__shadow__horizontal {
    position: absolute;
    transform: scaleX(-1) rotate(-90deg);
    top: 59px;
    left: 548px;
}

.phone__base__vertical {
    z-index: 2;
    position: absolute;
    top: 59px;
    left: 111px; 
}

.phone__background__vertical {
    z-index: 3;
    display: inline-block;
    position: absolute;
    top: 124px;
    left: 125px;
    width: 189px;
    height: 334px;
    background: url(assets/ph-background-vert.png);
    background-position-x: -13px;
    background-position-y: -135px;
}

.phone__background__horizontal {
    z-index: 3;
    display: inline-block;
    position: absolute;
    top: 194px;
    left: 486px;
    width: 334px;
    height: 189px;
    background:  url(assets/ph-background-hor.png);
    background-position-x: -126px;
    background-position-y: -119px;
}

.phone__base__horizontal {
    position: absolute;
    z-index: 2;
    transform: rotate(90deg);
    top: 59px;
    left: 548px;
}

.arrow-left {
    position: absolute;
    z-index: 5;
    top: 287px;
    left: 42px;
    opacity: 10%;
}

.arrow-right {
    position: absolute;
    transform: rotate(180deg);
    z-index: 5;
    top: 285px;
    left: 964px;
}























