body, footer {
    font-family: 'Lato', sans-serif;  
}

.wrapper {
    display: block;
    width: 1020px;
    margin: 0 auto;
}

.get-a-quote-top {
    height: 648px;
    background-color: #f06c64;
}

.get-a-quote-bottom {
    height: 6px;
    background-color: #ea676b;
}

.wrapper-footer {
    height: 76px;
    background-color: #2d303a;
}

.get-a-quote-title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    padding: 71px 0px 0px 39px;
    letter-spacing: -0.2px;
}

.get-a-quote-content {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    text-align: left;
    padding: 26px 0px 0px 40px;
    text-align: justify;
}

.layout-2-col {
    display: flex;
    margin: 10px 25px;
}

.inputs {
    width: 621px;
}

input {
    width: 619px;
border:1px solid #d6564f;
border-radius: 5px;
background-color: #d6564f;
margin: 10px 0px ;

font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-weight: 400;
text-align: left;
}

.name, 
.email,
.subject {
    height: 38px;
} 

.description {
    height: 202px;
}

.contact-information {
    width: 300px;
}

.contact-information-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
}


.contact-information-content,
.contact-information-contacts {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
}

.location-logo {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-image: url("assets/img/contact-info-icons/location.svg"); 
}

.phone-logo {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url("assets/img/contact-info-icons/phone.svg"); 
}

.mail-logo {
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url("assets/img/contact-info-icons/mail.svg"); 
}


.location-content, 
.phone-content,
.mail-content {
    display: inline-block;
}

.copyright {
    display: inline-block;
    font-size: 10px;
    line-height: 18px;
    color: #f0d8d9;
}

.social-media {
    display: inline-block;
}

.icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-left: 3px;
}

.icon:hover{
    cursor: pointer;
}

.icon-facebook {
    background-image: url('assets/img/social-media-icons/icon-facebook.svg');
}

.icon-google {
    background-image: url('assets/img/social-media-icons/icon-google.svg');
}

.icon-twitter {
    background-image: url('assets/img/social-media-icons/icon-twitter.svg');
}

.icon-linkedIn {
    background-image: url('assets/img/social-media-icons/icon-linkedIn.svg');
}





