$color-primary: #2d303a;
$color-primary-light: #323746;

$color-additional: #f06c64;
$color-additional-light: #ea676b;

$color-dark: #666d89;
$color-dark-lighten: #767e9e;

$color-light: #ffffff;
$color-light-darken:#f2f2f2;

$color-slide2: #648BF0;

$color-tag-text: #dedede;
$color-tag-border: #c5c5c5;
$color-tag-background: #0f0f0f;
$color-section-light: #f0d8d9;
$color-input: #d6564f;
$color-message: #f48c8f;

$content-width: 1019px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;