.copyright {
    display: inline-block;
    color: #666d89;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    margin: 32px 40px;
}

.footer__social-media {
    display: inline-block;
    margin: 21px 0px 0px 824px;
}