.get-a-quote__title {
    color: $color-section-light;
    @include font(3.0rem, 3.6rem, 900);
    text-align: left;
    padding: 61px 40px 0;
    letter-spacing: -0.2px;
    @include media-laptop {
        padding-top: 7%;
    }
    @include media-tablet {
        padding: 12% 30px 0;
    }
}

.get-a-quote__content {
    color: $color-section-light;
    @include font(1.8rem, 3.0rem, 300);
    padding: 17px 40px 0;
    text-align: justify;
    @include media-tablet {
        padding: 17px 30px 0;
    }
}

#form {
    margin: 0 40px;
    margin-top: 43px; 
    margin-bottom: 58px;
   
    @include media-laptop {
        margin-top: 4.2%;
        margin-bottom: 5.2%;
    }
    @include media-tablet {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.get-a-quote__layout {
    @include media-tablet {
         flex-direction: column;
    }
}

.first-col {
    max-width: 619px; 
}

.second-col {
    margin-left: 20px;
    @include media-laptop {
        margin-left: 30px;
    }
    @include media-tablet {
        margin-left: 0;
    }
}

.input {
    padding: 0;
    width: calc(100vw * 0.61);
    max-width: 617px;
    border:1px solid $color-input;
    border-radius: 5px;
    background-color: $color-input;
    margin: 0px 0px 16px 0px;
    height: 36px;
    @include media-laptop {
       margin-bottom: 12px; 
       width: calc(100vw * 0.575);
    }
    @include media-tablet {
        max-width: 100vw;
        width: calc(100vw - 60px);
    }  
}

.input__description {
    padding: 0;
    height: 200px;
}

.required-fields, 
.optional-fields {
    border: none;
    margin: 0;
    padding: 0;
}

.input__name:invalid,
.input__email:invalid {
    border-color: red;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: $color-message;
    font-weight: 400;  
}

input, textarea {
    font-family: 'Lato', sans-serif;  
    @include font(1.2rem, 2.2rem);
    color: $color-light;
}

input::placeholder {
    padding-left: 16px;
}

textarea::placeholder {
    padding-left: 16px;
    padding-top: 7px;
}


.contact-information__title {
    color: $color-section-light;
    @include font(1.8rem, 1.8rem, 900);
    text-align: left;
    padding-bottom: 7px;
    @include media-laptop {
        padding-bottom: 5px;
    }
    @include media-tablet {
        padding-top: 32px;
    }
}

.contact-information__content,
.contact-information__contacts {
    color: $color-section-light;
    @include font(1.2rem, 2.2rem);
}

.contact-information__content {
    text-align: justify;
}

.contact-information__contacts {
    padding-top: 22px;
    @include media-laptop {
        padding-top: 3%;
    }
}

.location__logo {
    display: inline-block;
    width: 7px;
    height: 11px;
    margin: 0 10px 0 3px;
    background-image: url("../assets/img/contact-info-icons/location.svg"); 
}

.phone__logo {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 7px 0 1px; 
    background-image: url("../assets/img/contact-info-icons/phone.svg"); 
}

.mail__logo {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin: 7px 7px 0 0 ;
    background-image: url("../assets/img/contact-info-icons/mail.svg"); 
}

.phone__content:hover, 
.mail__content:hover{
    cursor: pointer;
    border: 1px solid $color-input;
}

.location__content, 
.phone__content,
.mail__content {
    display: inline-block;
    color: $color-section-light;
    @include font(1.2rem, 2.2rem);
    text-align: left
}

.submit-button,
.close-button {
    font-family: 'Lato', sans-serif;  
    background-color: $color-input;
    color: $color-section-light;
    border:2px solid $color-section-light;
    border-radius: 5px;
    @include font(1.6rem, 2.2rem);
    text-align: left;
    padding: 10px;
}
    

.submit-button {
    @include media-tablet {
        width: calc(100vw - 60px);
        text-align: center;
    }
}

.submit-button:hover {
    cursor: pointer;
    color: $color-message;
}

.message-block {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: $color-transparent;
}

.message-block.hidden {
    display: none;
}

.message {
    position: absolute;
    padding:  20px;
    width: 500px;
    height: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 250px);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: $color-section-light;
    border: 5px solid $color-message;
    text-align: left;
    overflow-y: scroll;
    word-wrap: break-word; 
}

.modal_window_title {
    @include font(2.4rem, 3.0rem, 700);
    text-align: center;
}

.close-button {
    margin-left: calc(50% - 50px);
}