.phone-vertical {
    width: 23.5%;
    height: auto;
}

.phone__base__vertical {
    z-index: 2;
    position: absolute;
    top: 9%;
    left: 11%;
    width: 21.079%;
}

.phone__shadow__vertical {
    position: absolute;
    top: 9%;
    left: 11%;
    width: 23.5%;
}

.phone__background__vertical {
    z-index: 3;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 12.45%;
    width: 18.2%;
    height: 55.6%;
    background: url('../assets/img/slider/ph-background-vert.png');
    background-position-x: 4%;
    background-position-y: 56%;
    background-size: 311% 171%;
    &.hidden {
        display: none;
    }
}