.services__title {
    color: $color-dark;
    @include font(3.0rem, 3.6rem, 900);
    text-align: left;  
    padding: 61px 0px 0px 40px;
}

.services__content {
    color: $color-dark-lighten;
    @include font(1.8rem, 3.0rem, 300);
    text-align: left; 
    padding: 0px 36px 0px 40px;
}

.item__content {
    padding: 0 17px;
}

.item__title {
    display: inline-block;
    color: $color-dark;
    @include font(1.8rem, 1.8rem, 900);
    text-align: left;
    margin: 0px;
    padding-bottom: 8px;
}

.item__description {
    display: inline-block;
    color: $color-dark-lighten;
    @include font(1.2rem, 2.2rem);
    text-align: justify;
    overflow: hidden;
    margin: 0;
    padding-bottom: 29px;
}
