.logo {
    display: inline-block;  
    letter-spacing: -1.2px;
    text-transform: uppercase;
    text-align: left;
    padding: 30px 40px 29px;
    @include media-tablet { 
        margin-left: calc(50% - 116px);
        padding: 24px 40px;
    }
    &.center {
        margin-left: 1px;
    }
}

.logo__title {
    display: inline-block;
    @include font(2.5rem, 3.0rem, 700);
    color: $color-light;
    &:after {
        content: "*";
        position: relative;
        color: $color-additional;
    } 
    @include media-tablet {
        @include font(1.9rem, 2.4rem, 700);
    }
}