.layout-2-col
{
   display: flex;
}

.layout-3-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 45px 18px 24px 40px;
    @include media-laptop {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 17px;
    }
    @include media-tablet {
        grid-template-columns: 1fr;
        padding-bottom: 0px;
        margin: 7px 43px 0px 32px;
        margin-left: calc(50% - 150px);
    }
}

.layout-4-col {
    display: grid;
    grid-template: repeat(3, 187px)/ repeat(4, 220px);
    grid-gap: 20px;
    max-height: 653px;
    overflow-y: hidden;
    margin: 18px 40px 68px;
    @include media-laptop {
        grid-template: repeat(4, 183.5px)/ repeat(3, 216px);
        margin-left: calc(50% - 350px);
        max-height: 895px;
        margin-top: 28px;
   }

   @include media-tablet {
        grid-template: repeat(4, 128px)/ repeat(2, 151px);
        margin-left: calc(50% - 260px);
        max-height: 560px;
        grid-gap: 13px;
        margin: 25px 30px 37px;
   }

   @include media-mobile {
        grid-template: repeat(4, 108px)/ repeat(2, 128px);
        max-height: 484px;
   } 
}