.wrapper {
    display: block;
    width: 1020px;
    margin: 0 auto;
}

.header__wrapper {
    background-color: $color-primary;  
    border-bottom: 6px solid $color-primary-light;  
}

.slider__wrapper {
    position: relative;  
    overflow: hidden; 
}

.services__wrapper {
    background-color: $color-light-darken;
    border-bottom: 5px solid $color-light;
}
